<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>645489617205-1n7i8vv6oo3829bkce4uv1dhl2a1to71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645489617205-1n7i8vv6oo3829bkce4uv1dhl2a1to71</string>
	<key>API_KEY</key>
	<string>AIzaSyDajj01xvhSfmxKDYVYLH0e4QQmSqYUib8</string>
	<key>GCM_SENDER_ID</key>
	<string>645489617205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.NewDawn</string>
	<key>PROJECT_ID</key>
	<string>new-dawn-52c77</string>
	<key>STORAGE_BUCKET</key>
	<string>new-dawn-52c77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:645489617205:ios:24335d6d5bd057d8</string>
	<key>DATABASE_URL</key>
	<string>https://new-dawn-52c77.firebaseio.com</string>
</dict>
</plist>